body {
    background: center;
    margin-top: 120px;
    margin-bottom: 120px;
    font-family: 'Open Sans', serif;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.about {
    text-align: center;
}
.services {
    background-image: url(../image.jpeg/backgrounds/s_image.jpg);
    position: relative;
    left: 0;
    top: 0;
    height: 40vh;
    color: white;
    text-align: center;
}
.we {
    text-align: center;
}